.top-container {
  margin: 0;
  background-color: #f7f6e7;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding: 50px;
}

.bottom-container {
  background-color: #f7f6e7;
  padding: 15px 0 15px;
}

.student {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.iitr {
  text-decoration: underline;
  /*display propert to inline then
                                u cannot change height, width, etc. so use inline-block*/
}

body {
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffcb91;
}

h1 {
  margin-top: 0;
  font-family: 'Courgette', cursive;
  font-size: 4.75rem;
  margin: 20px auto;
  color: #ff7b54;
}

h2 {
  font-family: 'Blinker', sans-serif;
  color: #c24914;
  font-size: 35px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #c24914;
}

hr {
  border-color: #493323;
  width: 5%;
  border-style: dotted;
  border-top-width: thick;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.cloud1 {
  position: absolute;
  right: 200px;
  top: 70px;
}

.cloud2 {
  position: absolute;
  left: 200px;
}

.cloud3 {
  position: absolute;
  right: 250px;
  top: 350px;
}

.skill-row {
  width: 50%;
  margin: 80px auto;
  line-height: 2;
  text-align: left;
}

.profile {
  margin: 0 auto 80px auto;
  line-height: 2;
}

.comp {
  float: left;
  margin: 30px;
  width: 25%;
}

.chilli {
  float: right;
  margin: 30px;
  width: 25%;
}

.footer-link {
  padding: 5px
}

.intro {
  width: 50%;
  text-align: center;
  margin: auto;
}

.footer-link {
  color:#493323;
  font-weight: bold;
  text-decoration: none;
}

.btn {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin: 10px auto;
  display: block;
  width: 13%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  background: #f48b29;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffbe0f;
  text-decoration: none;
}
